*, *:before, *:after { box-sizing: border-box; }

body {
    line-height: 1.4;
    font-size: 18px;
    color: #111111;
    background-color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.post {
    margin: 1rem auto 2rem;
    padding: 0 1rem;
    max-width: 50rem;
}

code, pre {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

p code, li code {
    font-size: .9rem;
    background-color: #DDDDDD;
    border: 1px solid #888888;
    padding: .1rem .4rem;
}

details summary {
    font-size: .9rem;
    padding: .3rem 1rem;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    cursor: pointer;
    background-color: #1e1e1e;
    color: #eeeeee;
}

details pre {
    margin-top: 0 !important;
}

h1, h2, h3, h4, h5 {
    color: #484848;
}

.page-title {
    font-size: 1.3rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid #484848;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.post-title {
    text-align: center;
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.toc {
    padding: .2rem 1rem;
    border: 1px solid #1e1e1e;
}

blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding: .2rem 1rem;
    border: 1px solid #1e1e1e;
}

table {
    width: 100%;
    padding: .8rem;
    margin: 1em 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
    background: 0 0;
    border: 1px solid #1e1e1e;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

table thead th {
    cursor: auto;
    text-align: inherit;
    color: #444;
    padding: .4rem .3rem;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34,36,38,.1);
    border-left: none;
}

table tr:first-child td {
    border-top: none;
}
table td {
    background: 0 0;
}
table tr td {
    border-top: 1px solid rgba(34,36,38,.1);
}
table td {
    padding: .4rem .3rem;
    text-align: inherit;
}

pre[class*="language-"] {}
